<!-- card item to view current orders -->
<div class="row col d-flex justify-content-center mt-3">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Current Orders</h5>
          <p class="card-text">View accepted and in-progress orders here.</p>
          <button routerLink="/washer-profile" class="btn btn-primary">View Orders</button>
        </div>
      </div>
    </div>
  </div>

  <!-- card item for viewing past orders -->
  <div class="row col d-flex justify-content-center mt-3">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Past Orders</h5>
          <p class="card-text">View completed and cancelled orders here.</p>
          <button routerLink="/wash-requests" class="btn btn-primary">View Orders</button>
        </div>
      </div>
    </div>
  </div>
