<app-navbar *ngIf="role=='Customer'"></app-navbar><!--customer navbar-->

<div class="container mt-5 mb-5" style="padding-top: 30px">
<div class="row">
  <div class="col-75">
    <div class="container">
      <form #checkoutForm="ngForm"> <!--action="/action_page.php">-->

        <div class="row">
          <div class="col-50">
            <h3> Order Detail</h3>
            <input type="hidden" [(ngModel)]="checkout.totalDiscount" name="discount" value={{discount}} >
            <label for="time"><i class="fa fa-user"></i> Time Of Wash</label>
            <input required #time="ngModel" [class.is-invalid]="time.invalid && time.touched" class="form-control" [(ngModel)]="checkout.timeOfWash"  type="time" name="timeOfWash" >
            <small [class.d-none]="time.valid || time.untouched" class="text-danger">Time of wash is required.</small>
            <label for="date"><i class="fa fa-envelope"></i> Date Of Wash</label>
            <input required #date="ngModel" [class.is-invalid]="date.invalid && date.touched" type="date" id="inputdate" [(ngModel)]="checkout.dateOfWash"  name="date" class="form-control">
            <small [class.d-none]="date.valid || date.untouched" class="text-danger">Date of wash is required.</small>
            <label for="low"><i class="fa fa-address-card-o"></i> Location Of Wash</label>
            <input required #location="ngModel" [class.is-invalid]="date.invalid && date.touched" type="text" id="adr" [(ngModel)]="checkout.location" name="location" placeholder="542 W. 15th Street">
            <small [class.d-none]="location.valid || location.untouched" class="text-danger">Location is required.</small>
            <!-- <label for="washer"><i class="fa fa-car"></i> Chose Car Washer</label>
            <select [(ngModel)]="checkout.washerUserId" class="form-control" name="carType" >
              <option value="{{row.userId}}" *ngFor="let row of washers">{{row.firstName}}</option>
            </select> -->
            <!-- <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input  type="text" id="state" name="state" placeholder="NY">
              </div>
              <div class="col-50">
                <label for="zip">Pin</label>
                <input type="text" id="zip" name="zip" placeholder="10001">
              </div>
            </div> -->
          </div>

          <div class="col-50">
            <h3>Car Details</h3>
            <label for="cname">Car Number</label>
            <input required #carNumber="ngModel" [class.is-invalid]="carNumber.invalid && carNumber.touched" type="text" id="cno" [(ngModel)]="checkout.carNumber" name="carNumber" placeholder="MH 20 FY 3633">
            <small [class.d-none]="carNumber.valid || carNumber.untouched" class="text-danger">Car number is required.</small>
            <label for="carType">Car Type</label>
            <select required #carType="ngModel" [class.is-invalid]="carType.invalid && carType.touched" class="form-control" [(ngModel)]="checkout.carType" name="carType" >
              <option value="sedan">Sedan</option>
              <option value="hatchback">Hatchback</option>
              <option value="suv">SUV</option>
              <option value="travler">Traveller</option>
            </select>
            <small [class.d-none]="carType.valid || carType.untouched" class="text-danger">Car type is required.</small>
            <label for="carImg">Car Img</label>
            <input (change)="onSelectFile($event)" type="file" class="form-control" id="carImg" name="carImg" placeholder="September">

            <div class="row">
              <div class="col-50">
                <label for="couupen">Coupon</label>
                <input [(ngModel)]="promo.code" type="text" id="expyear" name="expyear" placeholder="COUPON ">
              </div>
              <div class="col-50" style="padding-top: 15px">
                <label for="coupon"> </label>
                <button (click)="getPromoCode(promo)" class="btn btn-primary">Apply</button>
              </div>
              <p class="text-danger">{{coupenMessage}}</p>
            </div>
          </div>
        </div>
        <input [disabled]="checkoutForm.form.invalid" type="button" (click)="checkoutInfo(checkout)" value="Continue to checkout" class="btn">
      </form>
    </div>
  </div>

  <div class="col-25">
    <div class="container">
      <h4>Cart
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
          <b>1</b>
        </span>
      </h4>
      <p><a href="/home">{{serviceName}}</a> <span class="price">{{baseAmount}}</span></p>
      <p>Discount <span class="price">-{{discount}}</span></p>
         <hr>

      <p>Total <span class="price" style="color:black"><b>₹{{totalAmount}}</b></span></p>
    </div>
  </div>
</div>
</div>
