<app-washer-navbar *ngIf="role=='Washer'"></app-washer-navbar><!--washer navbar-->
<div class="container mt-5">
    <div class="main-body">

        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <!-- Profile photo and Name -->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img [src]="imgUrl" alt="Washer" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>John Doe</h4>
                                <input id="fileUpload" class="hidden" type="file" (change)="onSelectFile($event)">
                                <button (click)="uploadPhoto()" style="color:aliceblue;" class="btn btn-success">Upload
                                    Image</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Washer Details -->
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">First Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profiles.firstName}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Last Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profiles.lastName}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profiles.email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone Number</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profiles.phoneNumber}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{profiles.city}},{{profiles.state}}, PinCode : {{profiles.pincode}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <button style="background-color: #febe7e;color:aliceblue;" (click)="onEdit(profiles)" type="button" class="btn"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Washer Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label class="form-label">First Name</label>
                        <input [class.is-invalid]="formValue.get('firstName')?.invalid && 
                        formValue.get('firstName')?.touched" formControlName="firstName" type="text"
                            class="form-control">
                        <small [class.d-none]="formValue.get('firstName')?.valid || 
                        formValue.get('firstName')?.untouched" class="text-danger">First name is required</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input [class.is-invalid]="formValue.get('lastName')?.invalid && 
                        formValue.get('lastName')?.touched" formControlName="lastName" type="text"
                            class="form-control">
                        <small [class.d-none]="formValue.get('lastName')?.valid || 
                        formValue.get('lastName')?.untouched" class="text-danger">Last name is required</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email Address</label>
                        <input [class.is-invalid]="formValue.get('email')?.invalid && 
                        formValue.get('email')?.touched" formControlName="email" type="email" class="form-control">
                        <small [class.d-none]="formValue.get('email')?.valid || 
                        formValue.get('email')?.untouched" class="text-danger">Email address is required</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone Number</label>
                        <input [class.is-invalid]="formValue.get('phoneNumber')?.invalid && 
                        formValue.get('phoneNumber')?.touched" formControlName="phoneNumber" type="text"
                            class="form-control">
                        <div *ngIf="formValue.get('phoneNumber')?.invalid && formValue.get('phoneNumber')?.touched">
                            <small *ngIf="formValue.get('phoneNumber')?.errors?.['required']" class="text-danger">Phone
                                number is required</small>
                            <small *ngIf="formValue.get('phoneNumber')?.errors?.['pattern']" class="text-danger">Phone
                                number must be 10 digits</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">PinCode</label>
                        <input [class.is-invalid]="formValue.get('pincode')?.invalid && 
                        formValue.get('pincode')?.touched" formControlName="pincode" type="text" class="form-control">
                        <div *ngIf="formValue.get('pincode')?.invalid && formValue.get('pincode')?.touched">
                            <small *ngIf="formValue.get('pincode')?.errors?.['required']" class="text-danger">Pincode is
                                required</small>
                            <small *ngIf="formValue.get('pincode')?.errors?.['pattern']" class="text-danger">Pincode
                                must be 6 digits</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">City</label>
                        <input [class.is-invalid]="formValue.get('city')?.invalid && 
                        formValue.get('city')?.touched" formControlName="city" type="text" class="form-control">
                        <small [class.d-none]="formValue.get('city')?.valid || 
                        formValue.get('city')?.untouched" class="text-danger">City name is required</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">State</label>
                        <input [class.is-invalid]="formValue.get('state')?.invalid && 
                        formValue.get('state')?.touched" formControlName="state" type="text" class="form-control">
                        <small [class.d-none]="formValue.get('state')?.valid || 
                        formValue.get('state')?.untouched" class="text-danger">State name is required</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button style="background-color: #febe7e;color:aliceblue;" [disabled]="!formValue.valid" (click)="editProfile(profiles.userId)" type="button" class="btn">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>