<app-admin-navbar *ngIf="role=='Admin'"></app-admin-navbar><!--admin navbar-->
<div class="container">
  <table class="table table-hover table-responsive mt-5">
      <thead class="thead-dark">
          <tr>
              <th scope="col">#</th>
              <th scope="col">User Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">User Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Status</th>
              <th scope="col">Edit</th>
          </tr>

      </thead>
      <tbody>
        <!--  -->
          <tr *ngFor="let row of cust, let i=index">
            <!-- order -->
              <th scope="row">{{i+1}}</th>
              <td>{{row.userId}}</td>
              <td>{{row.firstName}} {{row.lastName}}</td>
              <td>{{row.email}}</td>
              <td>{{row.username}}</td>
              <td>{{row.phone}}</td>
               <td>{{row.status}}</td>
              <td>
                <!-- (click)="fill(row)" -->
                  <button  type="button" class="btn btn-success" routerLink="/invoice">Edit</button>
              </td>
          </tr>

      </tbody>
  </table>

  <div *ngIf="!cust || cust.length == 0"  class="container d-flex flex-column justify-content-center">
      <div>
          <h1> No customers to display</h1>
      </div>
  </div>
</div>

