<div class="section">
  <div class="container">
    <div class="content-section">
      <div class="title">
        <h1>About Us</h1>
      </div>
      <div class="content">
        <h3>What if you could save Water, Money and Time, on every car wash? How?</h3>
        <p>We have the answer, Upon facing the challenges of water scarcity, few innovative minds came together to take on the responsibility. After researching for a long time, and trying many different options, we came up with a Economical, Time-saving and Environment-friendly Waterless car wash service for you. Your car will shine, and you will save Money, Time and Water.</p>
        <br>
        <p>Waterless car wash system is a revolutionary cleaning system. Unlike normal car wash, It uses only a few millilitres of water instead of hundreds of litres. Also, Waterless car wash Cleans, Shines and Protects in a single step, That too at the convenience of your door-step. Cleaning is provided by various bio-degradable agents, Polish and Protection is ensured by Premium Brazilian Carnauba Wax.</p>
        <div class="button">
          <a href="">Read More</a>
        </div>
      </div>
      <div class="social">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="image-section">
      <img src="assets/images/img one.jpg">
    </div>
  </div>
</div>
