<nav style="background-color: #c9356c;" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <h1 style="color: aliceblue;" routerLink="/adminHome" class="navbar-brand" href="#">Car Wash</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="color: aliceblue;" class="nav-link active" aria-current="page" href="/adminHome">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Users
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a style="color: #c9356c;" class="dropdown-item" href="/all-customer">All Customer</a>
            <!-- <div class="dropdown-divider"></div> -->
            <a style="color: #c9356c;" class="dropdown-item" href="/all-washer">All Washer</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Orders
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a style="color: #c9356c;" class="dropdown-item" href="/pending-order">Pending Order</a>
            <!-- <div class="dropdown-divider"></div> -->
            <a style="color: #c9356c;" class="dropdown-item" href="/all-order">All Orders</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Promocode
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a style="color: #c9356c;" class="dropdown-item" href="/all-promocode">All Promocode</a>
            <!-- <div class="dropdown-divider"></div> -->
            <!-- <a class="dropdown-item" href="/all-order">All Orders</a> -->
          </div>
        </li>
      </ul>
      <button style="color: #c9356c;" class="btn btn-light" type="submit">Logout</button>
    </div>
  </div>
</nav>
