<!-- Dashboard page for washer profile -->
<app-admin-navbar *ngIf="role=='Admin'"></app-admin-navbar><!--admin navbar-->
<!-- Card item for viewing profile -->
<div class="row col d-flex justify-content-center mt-5 my-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Promocode</h5>
        <p class="card-text">Create Your Promocode</p>
        <button style="background-color: #f48db4;color:aliceblue;" routerLink="/createPromocode" class="btn">Create Promocode</button>
      </div>
    </div>
  </div>
</div>

<!-- card item for viewing wash requests -->
<div class="row col d-flex justify-content-center mt-5 my-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Washer</h5>
        <p class="card-text">Add new washer to take orders.</p>
        <button style="background-color: #f48db4;color:aliceblue;" routerLink="/createWasher" class="btn">Create Washer</button>
      </div>
    </div>
  </div>
</div>

<!-- card item for invoice generation -->
<div class="row col d-flex justify-content-center mt-5 my-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Services</h5>
        <p class="card-text">Add new services for customers.</p>
        <button style="background-color: #f48db4;color:aliceblue;" routerLink="/createServices" class="btn">Create Services</button>
      </div>
    </div>
  </div>
</div>

