<app-washer-navbar *ngIf="role=='Washer'"></app-washer-navbar><!--washer navbar-->
<div class="container">
    <table class="table table-hover table-responsive mt-5">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Order ID</th>
                <th scope="col">UserName</th>
                <th scope="col">Time of Wash</th>
                <th scope="col">Date of Wash</th>
                <th scope="col">Location</th>
                <th scope="col">Package Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of orders, let i=index">
                <th scope="row">{{i + 1}}</th>
                <td>{{row.orderId}}</td>
                <td>{{row.firstName | uppercase}} {{row.lastName | uppercase}}</td>
                <td>{{row.timeOfWash}}</td>
                <td>{{row.dateOfWash}}</td>
                <td>{{row.location}}</td>
                <td>{{row.category}}</td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!orders || orders.length == 0" class="container d-flex flex-column justify-content-center">
        <div>
            <h1> No orders to display</h1>
        </div>
        <div><small>You are all up-to date :)</small></div>
    </div>
</div>