<!-- Dashboard page for washer profile -->
<!-- Card item for viewing profile -->
<div class="row col d-flex justify-content-center mt-5 my-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Profile</h5>
        <p class="card-text">View and/or Edit your profile.</p>
        <button routerLink="/washer-profile" class="btn btn-primary">View Profile</button>
      </div>
    </div>
  </div>
</div>

<!-- card item for viewing wash requests -->
<div class="row col d-flex justify-content-center mt-5 my-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Wash Requests</h5>
        <p class="card-text">View wash requests and accept them.</p>
        <button routerLink="/wash-requests" class="btn btn-primary">View Requests</button>
      </div>
    </div>
  </div>
</div>

<!-- card item for invoice generation -->
<div class="row col d-flex justify-content-center mt-5 my-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Invoice Generation</h5>
        <p class="card-text">Send an invoice to the customer on successful completion of car wash.</p>
        <button routerLink="/invoice-generation" class="btn btn-primary">Send Invoice</button>
      </div>
    </div>
  </div>
</div>

<!-- card item for viewing orders -->
<div class="row col d-flex justify-content-center mt-5 my-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Orders</h5>
        <p class="card-text">View current and past orders.</p>
        <button routerLink="/washer-orders" class="btn btn-primary">View Orders</button>
      </div>
    </div>
  </div>
</div>