<app-navbar *ngIf="role=='Customer'"></app-navbar><!--customer navbar-->
<div class="container">
<div id="print" class="col-md-12">
  <div class="row">
        <div style="padding-top: 20px;">
            <button class="btn btn-primary" printSectionId="print" [useExistingCss]="true"  ngxPrint>Download</button>
        </div>
         <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
             <div class="row">
           <div class="receipt-header">
           <div class="col-xs-6 col-sm-6 col-md-6">
             <div class="receipt-left">
               <img class="img-responsive" alt="car wash img" src="assets/images/carwash.png" style="width: 100px; border-radius: 100px;">
             </div>
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6 text-right">
             <div class="receipt-right">
               <h5>Car Wash</h5>
               <p>+91 8888555478<i class="fa fa-phone"></i></p>
               <p>carwash@gmail.com <i class="fa fa-envelope-o"></i></p>
               <p>INDIA <i class="fa fa-location-arrow"></i></p>
             </div>
           </div>
         </div>
             </div>

       <div class="row">
         <div class="receipt-header receipt-header-mid">
           <div class="col-xs-8 col-sm-8 col-md-8 text-left">
             <div class="receipt-right">
               <h5>{{name}}</h5>
               <p><b>Mobile :</b> +91 {{phone}}</p>
               <p><b>Email :</b> {{email}}</p>
             </div>
           </div>
           <div class="col-xs-4 col-sm-4 col-md-4">
             <div class="receipt-left">
               <h3>#INVOICE</h3>
             </div>
           </div>
         </div>
             </div>

             <div>
                 <table class="table table-bordered">
                     <thead>
                         <tr>
                             <th>Package</th>
                             <th>Amount</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td class="col-md-9"> Package selected</td>
                             <td class="col-md-3"><i class="fa fa-inr"></i>{{serviceAmount}}</td>
                         </tr>
                         <tr>
                             <td class="col-md-9">Discount</td>
                             <td class="col-md-3"><i class="fa fa-inr"></i> -{{totalDiscount}}</td>
                         </tr>
                         <tr>

                             <td class="text-right"><h2><strong>Total: </strong></h2></td>
                             <td class="text-left text-danger"><h2><strong><i class="fa fa-inr"></i> {{totalAmount}}</strong></h2></td>
                         </tr>
                     </tbody>
                 </table>
             </div>

       <div class="row">
         <div class="receipt-header receipt-header-mid receipt-footer">
           <div class="col-xs-8 col-sm-8 col-md-8 text-left">
             <div class="receipt-right">
               <p><b>Date :</b> 15 Aug 2016</p>
               <h5 style="color: rgb(140, 140, 140);">Thanks for shopping.!</h5>
             </div>
           </div>
         </div>
             </div>

         </div>
   </div>
 </div>
</div>
