<app-admin-navbar *ngIf="role=='Admin'"></app-admin-navbar><!--admin navbar-->
<div class="container">
  <table class="table table-hover table-responsive mt-5">
      <thead class="thead-dark">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Promo Id</th>
              <th scope="col">Code</th>
              <th scope="col">Discount</th>
              <th scope="col">Status</th>
              <th scope="col">Edit</th>
          </tr>

      </thead>
      <tbody>
        <!--  -->
          <tr *ngFor="let row of promo, let i=index">
            <!-- order -->
              <th scope="row">{{i+1}}</th>
              <td>{{row.promoId}}</td>
              <td>{{row.code}}</td>
              <td>{{row.discount}}</td>
               <td>{{row.status}}</td>
              <td>
                <!-- (click)="fill(row)" -->
                  <!-- <button  type="button" class="btn btn-success" routerLink="/invoice">Edit</button> -->
              </td>
          </tr>

      </tbody>
  </table>

  <div *ngIf="!promo || promo.length == 0"  class="container d-flex flex-column justify-content-center">
      <div>
          <h1> No promocodes to display</h1>
      </div>
  </div>
</div>

