<app-washer-navbar *ngIf="role=='Washer'"></app-washer-navbar><!--washer navbar-->
<div class="container">
    <table class="table table-hover table-responsive mt-5">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Order ID</th>
                <th scope="col">User ID</th>
                <th scope="col">Time of Wash</th>
                <th scope="col">Date of Wash</th>
                <th scope="col">Package Type</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of invoices, let i=index">
                <th scope="row">{{i}}</th>
                <td>{{row.orderId}}</td>
                <td>{{row.firstName | uppercase}} {{row.lastName | uppercase}}</td>
                <td>{{row.timeOfWash}}</td>
                <td>{{row.dateOfWash}}</td>
                <td>{{row.category}}</td>
                <td>
                    <button (click)="fill(row)" type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Complete Wash</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!invoices || invoices.length == 0" class="container d-flex flex-column justify-content-center">
        <div>
            <h1> No orders to display</h1>
        </div>
        <div><small>Accept orders from the requests page.</small></div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Invoice Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label class="form-label">Order ID</label>
                        <input readonly="readonly" type="text" formControlName="orderId" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Water used (Litres)</label>
                        <input
                            [class.is-invalid]="formValue.get('waterUsed')?.invalid && formValue.get('waterUsed')?.touched"
                            type="text" formControlName="waterUsed" class="form-control">
                        <small [class.d-none]="formValue.get('carImg')?.valid || formValue.get('waterUsed')?.untouched"
                            class="text-danger">Amount of water used is
                            required</small>
                    </div>
                    <img [class.d-none]="!hasImage" [src]="imgUrl" alt="Car Image" width="150">
                    <div class="mt-3">
                        <input [class.is-invalid]="formValue.get('carImg')?.invalid" formControlName="carImg"
                            id="fileUpload" class="hidden" type="file" (change)="onSelectFile($event)">
                        <button (click)="uploadPhoto()" style="color:aliceblue;display: flex; align-items: flex-end;"
                            class="btn btn-info ms-auto">Upload Image</button>
                        <small [class.d-none]="formValue.get('carImg')?.valid" class="text-danger">Car image is
                            required</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button [disabled]="!formValue.valid" type="button" (click)="postInvoiceDetails()" class="btn btn-primary">Add Details</button>
            </div>
        </div>
    </div>
</div>
